<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <%= form_for(@track, url: { action: 'create' }) do |f| %>
      <div class="form-group">
        <%= f.text_field :name, :placeholder => 'Track Name', class: 'form-control', :required => true %>
      </div>
      <div class="form-group">
        <%= f.text_field :artist, :placeholder => 'Artist Name', class: 'form-control', :required => true %>
      </div>  
      <div class="form-group">    
        <%= f.text_field :link, :placeholder => 'Link', class: 'form-control', :required => true %>
      </div>
      <%= f.submit "Add Track", class: 'btn btn-outline-primary' %> 
    <% end %>
  </div>
</div>
