<div class="row">
  <% if @top_playlists.length == 0 %>
    No playlists have been added yet
  <% end %>
  <% @top_playlists.each do |playlist| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          @<%= playlist.username %>'s Playlist <span class="badge badge-primary badge-pill"><%= playlist.tracks.length %> track<% if playlist.tracks.length > 1 %>s<% end %></span>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            <% playlist.tracks.first(3).each_with_index do |track, index| %>
              <div class="row">
                <div class="col-sm-10">
                  <%= index+1 %>.
                  <strong><%= track.name %></strong> by
                  <%= track.artist %>
                </div>
                <div class="col-sm-2">
                  <% if track.link.start_with?('https://www.youtube.com/watch?v=') %>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#playModal" data-url="<%= track.link %>" data-youtube="<%= track.link.split('&').first.sub("watch?v=", "embed/") %>" data-track="<%= track.name %>" data-artist="<%= track.artist %>">
  &#9654;
                    </button>
                  <% else %>
                    <%= link_to raw('&#9654;'), track.link, target: '_blank', class: 'btn btn-primary btn-sm' %>
                  <% end %>
                </div>
              </div>
              <hr>
            <% end %>
          </p>
          <div align="center">
            <%= link_to "View Playlist", playlist_path(playlist, :username => playlist.username), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe id="ytplayer" type="text/html" width="640" height="360"
  src=""
  frameborder="0"></iframe>
        <br>
        Track not playing? Click <a href="" id="modal-url" target="_blank">here </a>to view it in a new tab

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var player = document.getElementById('ytplayer');
  var direct_youtube_link = document.getElementById('modal-url')
  $('#playModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var embed_url = button.data('youtube') // Extract info from data-* attributes
    player.src = embed_url;
    var url = button.data('url')
    direct_youtube_link.href = url;
    var track = button.data('track')
    var artist = button.data('artist')
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text(track + ' by ' + artist)
  })

  $('#playModal').on('hide.bs.modal', function (event) {
    player.src = ""
  })
</script>
