<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_for(@user, url: { action: 'create' }) do |f| %>
      <div class="form-group">
        <%= f.text_field :username, :placeholder => 'Username', class: 'form-control', :required => true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :placeholder => 'Password', class: 'form-control', :required => true %>
      </div>
      <%= f.submit "Signup", class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
</div>
~          
